* {
    margin: 0;
    padding: 0;
    
}

.container {
    background: #00bf8f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: blue;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header"
                        "article aside"
                        "footer footer";
    gap: 32px;
    padding: 32px;
}
.header{
    grid-area: header;
}
.titulo_header{
    font-size: 32px;
    color: #fff;
}
.line_header{
    height: 2px;
    background-color: #033d30;
    color: red;
}
.text_header{
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
.article{
    grid-area: article;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article label{
    font-size: 18px;
}
.encriptar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.botones{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.botones input, .btnCopiar{
    padding: 10px 40px;
    background-color: #247260;
    color: #fff;
    border-style: none;
}
.botones input:hover, .btnCopiar:hover{
    background-color: #033d30;
    cursor: pointer;
    transition: 1s;
}
.input_texto{
    width: 90%;
    padding: 10px;
    background-color: #e2dfdc;
    border-style: none;
}
.desencriptar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.aside{
    grid-area: aside;
    color: #fff;
}
.imagen_objetivo{
    width: 100%;
}
.footer{
    grid-area: footer;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width:800px) {
    .container{
        background-color: red;
        grid-template-areas: "header header"
                        "aside aside"
                        "article article "
                        "footer footer";

    }
    .botones input, .btnCopiar{
        padding: 10px 20px;
        background-color: #247260;
        color: #fff;
        border-style: none;
    }
}
